/*****************************
Diego Villa García - UO277188
Descripción de los estilos
******************************/

/* Especificidad 001 */
body {
    color: black;
    background-color: white;
    font-size: 1.1em;
    font-family: Helvetica, Verdana, sans-serif;
}

/* Especificidad 001 */
input {
    border: 0.1em solid #111;
    font-size: 1.1em;
    cursor: pointer;
    margin: 1em;
    display: flex;
}

/* Especificidades 001, 001
    Heredan la propiedad color del elemento body */
h1,
h2 {
    background-color: #ffcc85;
    border-radius: 0.2em;
    padding: 0.2em;
}